* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.debug {
  border: 1px solid black;
  background-color: gray;
}

.flex {
  display: flex;
}

aside{
  height: calc(100vh - 90px);
  width: 200px;
}

.update{
  width: calc(100vw - 200px);
  height: 90px;
}

.menu {
  text-align: center;
}

.menu li{
  display: inline-block;
}