/* GENERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.debug {
  border: 1px solid black;
  background-color: gray;
}

.flex {
  display: flex;
}

.center {
  text-align: center;
}

.main-wrapper {
  height: 100vh;
}

.white {
  color: white;
}

.gray {
  color: #7B7D82;
}

.pointer {
  cursor: pointer;
}

/* /GENERAL */

/* HOVER */
.create:hover span,
.create:hover i {
  color: white;
}

.aside-foot:hover i,
.aside-foot:hover .install {
  color: white;
}

.menu .options:hover span{
  color:white;
}

ul li:hover{
  color: white;
  cursor: pointer;
}

.upgrade .btn:hover {
  scale: 1.1;
}

.card .image-card:hover i{
  display: block;
}

.image-card:hover img {
  opacity: .5;
  cursor: pointer;
}

.foot .title-album .song-name:hover {
  text-decoration: underline;
}

.player-advance .fa-circle-play:hover {
  scale: 1.2;
}

.player-icon i:hover{
  color: white;
}

.barr:hover .advance{
  background-color: greenyellow;
}

.barr:hover .advance-circle {
  display: block;
  background-color: greenyellow;
}

.options:hover .svg path{
  fill: white;
}
/* /HOVER */

/* MAIN */
main {
  height: calc(100% - 90px)
}

/* ASIDE --------------------------*/
aside{
  width: 225px;
  height: 100%;
  overflow: hidden;
  background-color: #000000;
  color: white;
  padding: 15px;
}

.row-logo {
  align-items: center;
}

#logo {
  margin-right: 10px;
  width: 150px; 
}

.logo-small{
  display: none;
}

.col.top{
  height: 150px;
  min-height: 150px;
}

.col.middle {
  height: 62%;
  overflow: hidden;
}

.col.bottom {
  height: 80px;
}

.text-playlist {
  font-weight: bold;
  padding: 8px 0;
}

.fa-square-plus {
  font-size: 1.8rem;
  margin-right: 10px;
}

.create {
  align-items: center;
}



.install {
  padding: 10px 5px;
  display: block;
}

.icone {
  align-items: center;
  padding-top: 10px;
}

.profile {
  background-color: gray;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-name {
  margin-left: 10px;
}

.col.bottom img{
  object-fit: contain;
}

.aside-foot {
  align-items: center;
  border-bottom: 1px solid white;
}



/* /ASIDE --------------------------*/

/* MENU --------------------------*/
.menu {
  list-style-type: none;
  padding: 5px 0;
}

.menu.fa-ul li{
  margin: 10px;
}

.menu .options .svg{
  width: 20px;
  margin-right: 5px;
}

.menu.center li{
  display: inline-block;
}

.menu-sec li {
  margin: 0 10px;
  font-size: .8rem;
}

.menu.side li {
  padding: 5px 0;
}

.scroll {
  overflow: auto;
  height: 100%;
}


/* /MENU-------------------------- */

/* UPGRADE --------------------------*/
.upgrade{
  width: calc(100% - 225px);
  height: 90px;
  position: fixed;
  right: 0;
  top: 0;
  text-align: end;
  padding: 20px;
  background-color: #000000a4;
  z-index: 999;
}



/* BTN */
.btn {
  padding: 10px 50px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 30px 30px;
}

/* SECTION PLAYED--------------------------- */
.big-sec {
  overflow: auto;
  width: calc(100% - 225px);
  padding-top: 100px;
  background-color: #141922;
  padding-inline: 25px;
}

.cards{
  flex-wrap: wrap;
  padding: 30px 0;
}

.card {
  width: calc(100% / 6);
  padding-right: 20px;
}

.card .image-card i{
  position: absolute;
  font-size: 5rem;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  color: white;
  display: none;
}



.image-card {
  aspect-ratio: 1;
  position: relative;
}

.image-card img{
  max-width: 100%;
  object-fit: contain;
}

.section.artist .image-card{
  border-radius: 50%;
  overflow: hidden;
}
.sec-name {
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.album-sub-title {
  font-size: .8rem;
}

/* FOOTER------------------ */
footer {
 height: 90px;
 background-color: #282828;
 padding: 10px;
}

/* FOOT---------------- */
.foot {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.foot .image-card {
  width: 40px;
}

.foot .title-album {
  margin-left: 10px;
}

.foot .title-album .artist-name {
  font-size: .8rem;
  line-height: 0%;
}

.foot .title-album .song-name {
  font-size: .7rem;
}



.player-card {
  align-items: center;
  justify-content: space-between;
  width: 225px;
}

.player-album {
  align-items: center;
}

.player-icon .fa-regular {
  margin-left: 10px;
  color: #7D7D7D;
  font-size: .9rem;
}

.player-icon {
  height: 30px;
}
/* /FOOT--------------------------- */

/* PLAYER ADVANCE------------------ */
.player-advance {
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.player-advance i {
  margin: 0 10px;
  font-size: 1rem;
  color: white;
}

.icon-barr {
  align-items: center;
  margin-bottom: 20px;
}

.icon-barr .fa-circle-play {
  font-size: 1.4rem;
}

.advance-barr{
  width: 80%;
  align-items: center;
}

.barr {
  width: 100%;
  height: 3px;
  background-color: #5A5A5A;
  margin: 0 auto;
  border-radius: 5px;
}

.advance {
  height: 3px;
  background-color: white;
  width: 20%;
  position: relative;
  border-radius: 5px;
}



.advance-circle{
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  top: -4px;
  display: none;
}

.time-min {
  margin: 0 20px;
  color: white;
  font-size: .7rem;
}

.volume{
  height: 100%;
  width:230px;
  justify-content: space-between;
  align-items: center;
}

.volume i{
  color: white;
  margin: 0 10px;
  font-size: .8rem;
}

/* /FOOTER------------------ */


/* QUERY--------------------- */
@media screen and (max-width:1100px){
  .card {
    width: calc(100% / 4);
    margin-bottom: 20px;
  }

  .image-card{
    margin-bottom: 2px;
  }
}

@media screen and (max-width:800px){
  .card {
    width: calc(100% / 2);
  }
}

@media screen and (max-width:600px){
  aside {
    width: 50px;
    padding: 10px;
    font-size: 1.3rem;
  }

  .upgrade {
    width: calc(100% - 50px)
  }

  .options {
    padding-left: 4px;
  }

  .col.middle{
    height: calc(100% - 220px);
  }

  .menu .fa-ul{
      margin-left: 26px;
  }

  .logo-small{
    display: block;
  }

  .aside-foot {
    border-bottom: 0;
    justify-content: center;
  }
  .none{
    display: none;
  }
  
  .big-sec {
    width: calc(100% - 50px)
    
  }
}