/* GENERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.debug {
  border: 1px solid black;
  background-color: gray;
}

.flex {
  display: flex;
}

.center {
  text-align: center;
}

.main-wrapper {
  height: 100vh;
}

.white {
  color: white;
}

.gray {
  color: #7B7D82;
}

/* /GENERAL */

/* MAIN */
main {
  height: calc(100% - 90px)
}

/* ASIDE --------------------------*/
aside{
  width: 225px;
  height: 100%;
  overflow: hidden;
  background-color: #000000;
  color: white;
  padding: 15px;
}

.row-logo {
  align-items: center;
}

#logo {
  margin-right: 10px;
  width: 150px; 
}

.logo-small{
  display: none;
}

.col.top{
  height: 150px;
  min-height: 150px;
}

.col.middle {
  height: 62%;
  overflow: hidden;
}

.col.bottom {
  height: 80px;
}

.text-playlist {
  font-weight: bold;
  padding: 8px 0;
}

.fa-square-plus {
  font-size: 1.8rem;
}

.create {
  align-items: center;
}

.install {
  padding: 10px 5px;
  display: block;
}

.icone {
  align-items: center;
  padding-top: 10px;
}

.profile {
  background-color: gray;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.col.bottom img{
  object-fit: contain;
}

.aside-foot {
  align-items: center;
  border-bottom: 1px solid white;
}
/* /ASIDE --------------------------*/

/* MENU --------------------------*/
.menu {
  list-style-type: none;
  padding: 10px 0;
}

.menu.fa-ul li{
  margin: 10px;
}

.menu .fa-ul {
  text-decoration: none;
  margin-left: 15px;
}

.menu.center li{
  display: inline-block;
}

.menu-sec li {
  margin: 0 10px;
  font-size: .8rem;
}

.menu.home {
  padding: 0;
}

.scroll {
  overflow: auto;
  height: 100%;
}
/* /MENU-------------------------- */

/* UPDATE --------------------------*/
.upgrade{
  width: calc(100% - 225px);
  height: 90px;
  position: fixed;
  right: 0;
  top: 0;
  text-align: end;
  padding: 20px;
  background-color: #000000a4;
}

/* BTN */
.btn {
  padding: 10px 50px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 30px 30px;
}

/* SECTION PLAYED--------------------------- */

.cards{
  flex-wrap: wrap;
  padding: 30px 0;
}

.card {
  width: 15%;
  margin-right: 20px;
  margin-bottom: 20px;
}

.image-card {
  aspect-ratio: 1;
}

.image-card img{
  max-width: 100%;
  object-fit: contain;
}

.section.artist .card{
  border-radius: 50%;
}

.big-sec {
  overflow: auto;
  width: calc(100% - 225px);
  padding-top: 100px;
  background-color: #141922;
  padding-inline: 25px;
}

footer {
 height: 90px;
}

@media screen and (max-width:600px){
  aside {
    width: 50px;
    padding: 10px;
    font-size: 1.3rem;
  }

  .big-sec {
    width: calc(100% - 50px)
    
  }

  .upgrade {
    width: calc(100% - 50px)
  }

  .col.middle{
    height: calc(100% - 220px);
  }

  .menu .fa-ul{
      margin-left: 26px;
  }

  .logo-small{
    display: block;
  }

  .aside-foot {
    border-bottom: 0;
    justify-content: center;
  }
  .none{
    display: none;
  }

  .alto {
    padding-bottom: 25px;
  }
}